.nav {
  font-family: 'Lora', serif;
  color: salmon;
  font-size: 14pt;
  background-color: none;
  display: list-item;
  text-align: left;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  top:50px;
  padding: 50px;
  width: 10%;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.titleofpage{
  font-family: 'Lora', serif;
  font-size: 17pt;
  color:salmon;
  padding-top: 30px;
  top: 0;
  left: 0;
  width: 15%;
  display: flex;
  position: fixed;
  top: 0;
  justify-content:center;
  list-style-type:none;
  background-color:none;
}

@media screen and (max-width: 480px) {
    .nav{
        display: none;
    }
    .titleofpage{
        display:none;
    }
}

.dropdown {
  position: relative;
